/* .App {
  text-align: center;
} */

/* .StoreDetail {
  align-items: left;
  margin: 20;
  padding: 20;
  border: "1px solid grey";
} */
.StoreInfoImage {
  /* position: absolute; 
  top: 0%;
  left: 0%; */
  width: 100%;
  height: 200px;
  background-size: cover; /* 핵심코드 */
  position: relative; /* 핵심코드 */
  display: inline-block;
  margin-top: 10px;
  margin-bottom: 5%;
  max-width: 100%;
  background-repeat: no-repeat;
}

.StoreInfoText {
  position: absolute; /* 핵심코드 */
  top: 20%; /* 핵심코드 */
  left: 40%;
  transform: translate(-50%, -50%); /* 핵심코드 */
  font-size: x-large;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
